body{
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  width: 80%;
  font-family: Tahoma;
  background-color:#E6E4D8;
}

.top_header{
  padding: 15px 20px;
  height: 120px;
  width: 100%;
  color:#585858 ;
  border: 7px solid #D8D8D8;
  background-color:white;
}

.top_header a{
  float: left;
  margin-right: 50px;
  color:#585858 ;
}

.top_header{
	font-size: 20px;
	line-height: 20px;
}

.top_header h3{
  text-align: left;
  color:#585858 ;
}

a{
  text-decoration: none;
}

a:hover{
  color: red;
  font-size: 20px;
}

.apply{
  font-family:Tahoma;
  font-size:10;
  align: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 101.8%;
  float: left;
  color:#585858;
  border: 7px solid #D8D8D8;
  background-color:white;
}

form{
  float: left;
}

.apply h3{
  font-size: 20px;
  font-family: Verdana;
  color:#585858;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 3px;
  background-color:#F8F8F8;
}

.apply ul li{
  margin-bottom: 20px;
}

#logout{
  text-decoration: none;
  color: #000;
  margin-left:600px;
  padding:10px;
  background-color: #D8D8D8;
  font-size: 20px;
}

#footer{
  font-size:10;
  align: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 101.8%;
  float: left;
  color:#585858;
  border: 7px solid #D8D8D8;
  background-color:white;
}

#errors{
  text-align: left;
  margin-left: 60px;
  margin-bottom: 10px;
  font-style: italic;
  color: red;
  font-size: 14px;
  font-family: Tahoma;
}
   
table{
  float: left;
  margin-left: 32%;
  margin-top: 10px;
  margin-bottom: 10px;
}



