body{
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  width: 80%;
  font-family: Tahoma;
  background-color:#E6E4D8;
}

.top_header{
  padding: 15px 20px;
  height: 120px;
  width: 100%;
  color:#585858 ;
  border: 7px solid #D8D8D8;
  background-color:white;
}

.top_header a{
  float: left;
  margin-right: 50px;
  color:#585858 ;
}

.top_header{
	font-size: 20px;
	line-height: 20px;
}

.top_header h3{
  text-align: left;
  color:#585858 ;
}

.apply{
  font-family:Tahoma;
  font-size:10;
  align: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 101.8%;
  float: left;
  color:#585858;
  border: 7px solid #D8D8D8;
  background-color:white;
}

form{
  float: left;
}

.apply h3{
  font-size: 20px;
  font-family: Verdana;
  color:#585858;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 3px;
  background-color:#F8F8F8;
}
.apply ul{
  list-style: none;
  text-align: left;
  padding-left:60px;
  color:#585858;
}

.apply ul li{
  margin-bottom: 20px;
}

#logout{
  text-decoration: none;
  color: #000;
  margin-left:600px;
  padding:10px;
  background-color: #D8D8D8;
  font-size: 20px;
}

#footer{
  font-size:10;
  align: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 101.8%;
  float: left;
  color:#585858;
  border: 7px solid #D8D8D8;
  background-color:white;
}

#errors{
  text-align: left;
  margin-left: 60px;
  margin-bottom: 10px;
  font-style: italic;
  color: red;
  font-size: 14px;
  font-family: Tahoma;
}

form input{
  width: 355px; 
}

#date{
  width: 133px;
}

#button{
  height: 30px;
}

textarea{
  width: 350px;
  height: 100px;
  margin-top: 10px;
}

form select{
  width: 265px;
}

#available_leaves{
  background-color:#D8D8D8;
  padding: 2px;
  line-height: 20px;
  color: black;
  width: 400px;
  margin-left:650px;
  margin-top: 40px;
  border-radius: 5px;
}

#leave_status{
  background-color:#D8D8D8;
  padding: 2px;
  line-height: 20px;
  color: black;
  width: 400px;
  margin-left:650px;
  margin-top: 10px;
  border-radius: 5px;
}

#vertical_line{
  height: 400px;
  width: 2px;
  margin-left: 150px;
  background-color: #D8D8D8;
  float: left;
}

#total_leaves{
  color: black;
  font-size: 20px;
}